* {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#content{
    position: absolute;
    margin: 0 auto;
    background: #ddd;
    left: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
}
#content.sidebar-expanded{
    left: 200px;
}
#content.sidebar-collapsed{
    left: 20px;
}

#antfarm{
    display: block;
    width: 960px;
    height: 800px;
    position: relative;
}
#antfarm img{
    position:absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
#antfarm svg{
    position:absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 960px;
    height: 800px;
}

#antfarm form{
    z-index: 100;
    position: absolute;
    right: 0;
    top: 300px;
}

#stats-panel{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(20,20,20,.75);
    color: #fff;
    z-index:100;
    transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
}
#stats-control{
    z-index:101;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 200px;
    text-align: right;
    background: rgba(20,20,20,.75);
    padding: 5px;
    line-height: 1em;
    color: #fff;
    transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
}
#stats-control:hover{
    cursor: pointer;
    background: rgba(0,0,0,1);
}
#stats-control.expand{
    width: 20px;
}
#stats-control.collapse:after{
    content: '\25c0';
    font-size: 12px;
}
#stats-control.expand:after{
    content: '\25b6';
    font-size: 12px;
}
#stats-panel.expanded{
    width: 200px;
}
#stats-panel.collapsed{
    width: 20px;   
}
.panel-container{
    width: 230px;
    padding: 20px 20px 40px;
}
#stats-panel div.turn-container{
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.5px;
    position: relative;
    padding-right: 30px;
}
#stats-panel input#newTurn{
    opacity: 0;
    background: none;
    border: 1px solid #eee;
    border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    color: #fff;
    padding: 5px;
    max-width: 70px;
    position: absolute;
    top: -4px;
    left: 28px;
    transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
}
#stats-panel input#newTurn:focus{
    background: #000;
}
#stats-panel p{
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.5px;
    padding-right: 30px;
}
#stats-panel p span{
    float: left;
}
#stats-panel p span.align-right{
    float: right;
}
.align-right{
    text-align: right;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.01); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.01); }
    100% { transform: scale(1); }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}