* {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#content{
    width: 960px;
    margin: 0 auto;
}

#antfarm{
    display: block;
    width: 800px;
    height: 800px;
    position: relative;
}
#antfarm img{
    position:absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
#antfarm svg{
    position:absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 800px;
    height: 800px;
}


@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.01); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.01); }
    100% { transform: scale(1); }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}