<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="../static/grid12.css" />
    <link rel="stylesheet" href="../static/antfarm.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="side">{% block sidebar %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        
        {% endblock %}
    </div>
</body>
</html>

<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% block footerjs %}{% endblock %}