{% extends "base.html" %}
{% block title %}Hello from the ant farm{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-12 col-md-10 col-md-push-1">
            <h1>Hello from the antfarm</h1>
            <div id = "antfarm">
                
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    <div id = "stats-panel">
        <div class="panel-container">
            <div class="turn-container clearfix"><input type="text" id="newTurn"></div>
        </div>
    </div>
    <div id = "stats-control" class="collapse"></div>
{% endblock %}

{% block footerjs %}
    {% if maze_id %}
        <script>
            window.MAZEID = {{maze_id}}
        </script>
    {% else %}
        <script>
            window.MAZEID = 0
        </script>
    {% endif %}
    <script src = "../static/antfarm.js"></script>
    <script src = "../static/draw-maze.js"></script>
    <script src = "../static/statspanel.js"></script>
    <script src = "../static/antpost.js"></script>
    <script src = "../static/ui-controls.js"></script>
{% endblock %}
